body {
  background-color: bisque;
}

/* Flexbox */
.flex {
  display: flex;
}

#routerSec {
  flex-direction: column;
  align-items: center;
}

/* Navbar css */
#navbar {
  justify-content: space-around;
  padding: 10px;
  border-bottom: 2px solid black;
}

/* Login page css */
#loginSec {
  text-align: center;
  width: 200px;
  padding: 20px;
  border: 2px solid black;
  background-color: aliceblue;
}

#loginForm {
  text-align: left;
}

/* Home page css */
#homePageSec {
  flex-wrap: wrap;
  justify-content: center;
  border: 2px solid black;
  padding: 20px;
  width: 50%;
}

#homePageSec > section {
  border: 2px solid red;
  text-align: center;
}

#homeIntro {
  width: 100%;
}

/* Profile page css */
#profileSec {
  border: 2px solid black;
  padding: 20px;
}

/* Workout Day page css */
#workoutDaySec {
  border: 2px solid black;
  padding: 20px;
  background-color: aliceblue;
}

.exerciseSec {
  border-bottom: 2px solid black;
  padding: 5px;
}

.setSec {
  justify-content: space-around;
}
